[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = https://github.com/dmanning23/MonoGame.git
[submodule "externals/ouya-csharp"]
	path = externals/ouya-csharp
	url = https://github.com/dmanning23/ouya-csharp.git
