<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="17.2.0" targetFramework="net47" />
  <package id="Bridge.Core" version="17.2.0" targetFramework="net47" />
  <package id="Bridge.Min" version="17.2.0" targetFramework="net47" />
  <package id="MatrixExtensions.Bridge" version="2.0.1" targetFramework="net47" />
  <package id="MonoGame.Framework.Bridge" version="3.7.0.2" targetFramework="net47" />
  <package id="RandomExtensions.Bridge.dmanning23" version="2.0.2" targetFramework="net47" />
  <package id="Retyped.Core" version="1.6.6733" targetFramework="net47" />
  <package id="Retyped.dom" version="2.8.6733" targetFramework="net47" />
  <package id="Retyped.es5" version="2.8.6733" targetFramework="net47" />
  <package id="Retyped.gamepad" version="0.1.6733" targetFramework="net47" />
  <package id="Retyped.webgl2" version="0.1.6733" targetFramework="net47" />
  <package id="Retyped.webgl-ext" version="0.1.6733" targetFramework="net47" />
  <package id="Vector2Extensions.Bridge" version="2.0.3" targetFramework="net47" />
</packages>