<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MatrixExtensions" version="1.0.1" targetFramework="net452" />
  <package id="MonoGame.Framework.DesktopGL" version="3.5.1.1679" targetFramework="net452" />
  <package id="RandomExtensions.dmanning23" version="1.0.2" targetFramework="net452" />
  <package id="Vector2Extensions" version="1.0.1" targetFramework="net452" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>